@model int

<h2>@Model Detail</h2>
<p>Phasellizzle daahng dawg yippiyo ma nizzle. Ut ma nizzle boom shackalack lorem. Sheezy nizzle est. Fo sapizzle mah nizzle, ultricizzle nizzle, accumsizzle vel, fermentizzle fizzle, pede. Duis nizzle away. Tellivizzle rutrum ornare ante. Maurizzle that's the shizzle. Pizzle ut pede gangsta nibh commodo commodo. Lorizzle shizznit dolor my shizz sizzle, consectetizzle mammasay mammasa mamma oo sa shizznit. Gangsta izzle mi. Go to hizzle mammasay mammasa mamma oo sa shizzle my nizzle crocodizzle, break yo neck, yall bow wow wow, ma nizzle a, eleifend dawg, own yo'.</p>
