<div id="search">
    <button type="button" class="close">×</button>
    <form>
        <input type="search" value="" placeholder="type keyword(s) here" />
        <a id="submit_search" class="btn btn-primary">Search</a>
    </form>
</div>
